@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}

<!-- Kütüphaneler -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!-- SignalR kütüphanesi -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.2/signalr.min.js"></script>




<div class="content">
    <div class="container-fluid">
        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder()
                    .withUrl("http://localhost:5247/signalrhub")
                    .build();

                $("#connstatus").text(connection.state);

                connection.start().then(() => {
                    $("#connstatus").text(connection.state);

                    // Her 1 saniyede tetikleme
                    setInterval(() => {
                        connection.invoke("SendProgress");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                // Backend’den gelen verileri al
                connection.on("ReceiveTotalMoneyCaseAmount", (value) => {
                    $("#totalmoneycaseamount").text(value);
                });

                connection.on("ReceiveActiveOrderCount", (value2) => {
                    $("#activeordercount").text(value2);
                });

                connection.on("ReceiveMenuTableCount", (value3) => {
                    $("#menutablecount").text(value3);
                });

                connection.on("ReceiveCategoryCount", (value12) => {
                    $("#categorycount").text(value12);
                });

                connection.on("ReceiveProductCount", (value13) => {
                    $("#productcount").text(value13);
                });

                connection.on("ReceiveGetActiveBookingCount", (value13) => {
                    $("#GetActiveBookingCount").text(value13);
                });

                connection.on("ReceiveGetPassiveBookingCount", (value13) => {
                    $("#GetPassiveBookingCount").text(value13);
                });

                connection.on("ReceiveGetTotalBookingCount", (value13) => {
                    $("#GetTotalBookingCount").text(value13);
                });



                connection.on("ReceiveMenuTableCount", (value4) => {
                    $("#totalMenuTableCountProgress").empty();
                    $("#totalMenuTableCountProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Toplam Masa Sayısı</span>
            <span class="text-muted fw-bold">${value4}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: ${value4}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value4}%"></div>
        </div>
    `)
                });

                connection.on("ReceiveProductPriceAvg", (value5) => {
                    $("#ProductPriceAvgProgress").empty();
                    $("#ProductPriceAvgProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Ortalama ürün Fiyatı</span>
            <span class="text-muted fw-bold">${value5}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: ${value5}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value5}%"></div>
        </div>
    `)
                });


                connection.on("ReceiveProductCountByCategoryNameDrink", (value6) => {
                    $("#ProductCountByCategoryNameDrinkProgress").empty();
                    $("#ProductCountByCategoryNameDrinkProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">İçecek Kategorisi Ürün Sayısı</span>
            <span class="text-muted fw-bold">${value6}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: ${value6}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value6}%"></div>
        </div>
    `)
                });


                connection.on("ReceiveProductCountByCategoryNameHamburger", (value7) => {
                    $("#ProductCountByCategoryNameHamburgerProgress").empty();
                    $("#ProductCountByCategoryNameHamburgerProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Hamburger Kategorisi Ürün Sayısı</span>
            <span class="text-muted fw-bold">${value7}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: ${value7}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value7}%"></div>
        </div>
    `)
                });


                connection.on("ReceiveProductAvgPriceByHamburger", (value8) => {
                    $("#ProductAvgPriceByHamburgerProgress").empty();
                    $("#ProductAvgPriceByHamburgerProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Ortalama Hamburger Fiyatı</span>
            <span class="text-muted fw-bold">${value8}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: ${value8}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value8}%"></div>
        </div>
    `)
                });

                connection.on("ReceiveTotalOrderCount", (value9) => {
                    $("#TotalOrderCountProgress").empty();
                    $("#TotalOrderCountProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Ortalama Hamburger Fiyatı</span>
            <span class="text-muted fw-bold">${value9}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: ${value9}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value9}%"></div>
        </div>
    `)
                });


                connection.on("ReceiveLastOrderPrice", (value10) => {
                    $("#LastOrderPriceProgress").empty();
                    $("#LastOrderPriceProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Son Sipariş Tutarı</span>
            <span class="text-muted fw-bold">${value10}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: ${value10}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value10}%"></div>
        </div>
    `)
                });


                connection.on("ReceiveNotificationCountByStatusFalse", (value11) => {
                    $("#NotificationCountByStatusFalseProgress").empty();
                    $("#NotificationCountByStatusFalseProgress").append(`
        <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Okunmamış Bildirim Sayısı</span>
            <span class="text-muted fw-bold">${value11}</span>
        </div>
        <div class="progress mb-2" style="height: 7px;">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: ${value11}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value11}%"></div>
        </div>
    `)
                });



            });


        </script>


        <h4 class="page-title">Admin İstatistikler & Durumlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row row-card-no-pd">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <!-- Kasadaki Toplam Tutar -->
                                <p class="fw-bold mt-1">Kasadaki Toplam Tutar</p>
                                <h4 id="totalmoneycaseamount"></h4>
                                <a href="/Order/CreateOrder/" class="btn btn-primary btn-full text-left mt-3 mb-3">
                                    <i class="la la-plus"></i> Yeni Sipariş
                                </a>

                                <hr />

                                <!-- Toplam Rezervasyon Sayısı -->
                                <p class="fw-bold mt-1">Toplam Rezervasyon Sayısı</p>
                                <h4 id="GetTotalBookingCount"></h4>

                                <div class="d-flex justify-content-between mt-3">
                                    <span class="text-success">Aktif</span>
                                    <span class="fw-bold text-success" id="GetActiveBookingCount"></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="text-danger">Pasif</span>
                                    <span class="fw-bold text-danger" id="GetPassiveBookingCount"></span>
                                </div>
                            </div>

                            <div class="card-footer">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="btn btn-default btn-link" href="/MenuTables/Index/">
                                            <i class="la la-table"></i> Masalar
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-default btn-link" href="/Booking/Index/">
                                            <i class="la la-calendar"></i> Rezervasyonlar
                                        </a>
                                    </li>
                                    <li class="nav-item ml-auto">
                                        <a class="btn btn-default btn-link" href="/ProgressBars/Index/">
                                            <i class="la la-refresh"></i> Sayfayı Yenile
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="progress-card" id="totalMenuTableCountProgress"></div>

                                <div class="progress-card" id="ProductPriceAvgProgress"></div>

                                <div class="progress-card" id="ProductCountByCategoryNameDrinkProgress"></div>

                                <div class="progress-card" id="ProductCountByCategoryNameHamburgerProgress"></div>

                                <div class="progress-card" id="ProductAvgPriceByHamburgerProgress"></div>

                                <div class="progress-card" id="TotalOrderCountProgress"></div>

                                <div class="progress-card" id="LastOrderPriceProgress"></div>

                                <div class="progress-card" id="NotificationCountByStatusFalseProgress"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-stats">
                            <div class="card-body">
                                <p class="fw-bold mt-1">Statistic</p>
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="la la-pie-chart text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Aktif Sipariş Sayısı</p>
                                            <h4 class="card-title" id="activeordercount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-heart-o text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Masa Sayısı</p>
                                            <h4 class="card-title" id="menutablecount"></h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <!-- Kategori Sayısı -->
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-list text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Kategori Sayısı</p>
                                            <h4 class="card-title" id="categorycount"></h4>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <!-- Ürün Sayısı -->
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="la la-cubes text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category">Ürün Sayısı</p>
                                            <h4 class="card-title" id="productcount"></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>